<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${var:logDir}/nlog-internal.log">
  <variable name="logDir" value="${basedir}/../../../../logs" />
  <extensions>
    <add assembly="FreeformHelper.UI"/>
  </extensions>

  <targets>
    <target xsi:type="File"
            name="logfile"
            fileName="${var:logDir}/app.log"
            archiveEvery="Day"
            maxArchiveFiles="14"
            createDirs="true"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}${onexception:${newline}${exception:format=ToString}}" />

    <target xsi:type="InAppConsole"
            name="appconsole"
            layout="${message}${onexception:${newline}${exception:format=ToString}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile,appconsole" />
  </rules>
</nlog>
